In [25]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sbn
import datetime as dtn
import time as tm

In [70]:
ord = pd.read_csv('datasLab2/orders.csv', sep=";", header=0, index_col=False)
ord.describe()
ord.head()


# Описательная статистика представляет из себя таблицу с данными по каждому столбцу, данные в котором представлены числом. Содержатся следующие данные:
    # count - количество не NAN значений
    # mean - среднее по столбцу (числовое значение)
    # std - стандартное отклонение
    # min - минимальное значение
    # max - максимальное значение
    # max - максимальное значение
    # 25% - Квантиль уровня четверть
    # 50% - Квантиль уровня две четверти
    # 75% - Квантиль уровня 3 четверти

,Order_id,Order_type,Sub_department,mean_time,Difficulty_level,Perform_peoples,Hull_number,Floor,Execution_date
0,0,OS,Telecommunications_department,10,4,3,8,2,2021-05-11
1,1,Laying the network,Telecommunications_department,10,1,3,12,7,2021-12-05
2,2,Installing software,Information Resources Department,10,2,2,5,9,2021-05-15
3,3,Installing software,Telecommunications_department,10,2,2,11,5,2021-06-04
4,4,Mail,technical_department,10,5,2,12,1,2021-11-05

In [69]:
# В описательной статистике присутствуют только числовые данные, в таком случае, все нечисловые данные необходимо преобразовать в числовые
# Для этого берём алгоритм первой лабораторной работы и подставляем туда имена нужных полей, которые именованы текстом
ord = pd.read_csv('datasLab2/orders.csv', sep=";", header=0, index_col=False)

# print(tm.mktime(dtn.datetime.strptime(str(dtn.date.today()), "%Y-%m-%d").timetuple()))
criteria_list = ['Order_type','Sub_department','Execution_date']
for i in range(len(criteria_list)):
    # Формируем массивы всех значений каждого из значений criteria_list
    all_col_values_list = ord[criteria_list[i]].unique()
    # print(all_col_values_list)
    for g in range(len(all_col_values_list)):
        # Если работаем с датой, то меняем на таймстампы
        if criteria_list[i] == 'Execution_date':
            # print(all_col_values_list[g])
            # print(tm.mktime(dtn.datetime.strptime(str(all_col_values_list[g]), "%Y-%m-%d").timetuple()))
            ord[criteria_list[i]].replace({str(all_col_values_list[g]): str(int(tm.mktime(dtn.datetime.strptime(str(all_col_values_list[g]), "%Y-%m-%d").timetuple())))}, inplace=True)
        else:
            # Делаем замену непосредственно в самом датасете
            ord[criteria_list[i]].replace({str(all_col_values_list[g]): g}, inplace=True)
# Вывод датасета
ord.head(20)

,Order_id,Order_type,Sub_department,mean_time,Difficulty_level,Perform_peoples,Hull_number,Floor,Execution_date
0,0,0,0,10,4,3,8,2,1620680400
1,1,1,0,10,1,3,12,7,1638651600
2,2,2,1,10,2,2,5,9,1621026000
3,3,2,0,10,2,2,11,5,1622754000
4,4,3,2,10,5,2,12,1,1636059600
5,5,1,2,10,4,3,6,5,1621630800
6,6,4,2,10,3,2,3,5,1634504400
7,7,3,1,10,5,3,11,8,1635282000
8,8,5,1,10,5,3,2,3,1616187600
9,9,6,2,10,1,1,11,5,1632171600
10,10,4,0,10,2,3,11,4,1612558800
11,11,0,0,10,2,2,9,6,1612386000
12,12,7,1,10,5,2,4,9,1623704400
13,13,8,0,10,3,3,3,1,1638824400
14,14,2,1,10,2,2,5,7,1618174800
15,15,0,2,10,4,1,6,7,1617051600
16,16,0,1,10,3,2,3,8,1627419600
17,17,6,1,10,4,1,5,8,1609966800
18,18,0,0,10,5,3,10,4,1619902800
19,19,5,2,10,4,2,2,3,1617742800