In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sbn

In [7]:
ord = pd.read_csv('datasLab2/orders.csv', sep=";", header=0, index_col=False)
ord.head(200)

,Order_id,Order_type,Sub_department,mean_time,Difficulty_level,Perform_peoples,Hull_number,Floor,Execution_date
0,0,OS,Telecommunications_department,10,4,3,8,2,2021-05-11
1,1,Laying the network,Telecommunications_department,10,1,3,12,7,2021-12-05
2,2,Installing software,Information Resources Department,10,2,2,5,9,2021-05-15
3,3,Installing software,Telecommunications_department,10,2,2,11,5,2021-06-04
4,4,Mail,technical_department,10,5,2,12,1,2021-11-05
...,...,...,...,...,...,...,...,...,...
195,195,Installing software,Information Resources Department,10,2,3,10,4,2021-07-03
196,196,OS,Information Resources Department,10,2,2,5,4,2021-06-05
197,197,Laying the network,Telecommunications_department,10,3,1,6,4,2021-06-20
198,198,Accounts,Information Resources Department,10,4,1,8,8,2021-05-17
199,199,Mail,technical_department,10,4,1,10,7,2021-11-24